ion-grid{
    width: 100%;
    height: auto;
  }

  .col.left{
      width: 70%;
      img{
        width: 60px;
        display: inline-block;
        margin: 0;
        }
  }

  .col.right {
    width: 30%;
    float: right;
    img{
      width: 60px;
      display: inline-block;
      margin: 0;
      }
  }

  .mostCommonDiv{
      margin: 5px auto;
      text-align: center;
  }

  .imgDiv{
      position: relative;
      margin: 0 auto;
      text-align: center;
    align-items: center;
    align-content: center;
    z-index: 2;
  }

  .groupTitle{
    width: 100%;
    margin-right: 7%;
    display: block;
}

  .drawnDiv{
    border: 1px solid grey;
    border-radius: 20px;
    position: relative;
    top:5px;
    width:fit-content;
    margin: 0 auto;
    padding: 2px 10px;
    background-color: rgba(58, 65, 57, 0.7);
    font-size: 0.8em;
    text-align: center;
    color: white;
    z-index: 10;
}

.drawnPercDiv {
    border: 1px solid grey;
    border-radius: 20px;
    position: relative;
    width:fit-content;
    margin: 0 auto;
    padding: 2px 10px;
    bottom: 7px;
    background-color: rgba(58, 65, 57, 0.7);
    font-size: 0.8em;
    text-align: center;
    color: white;
    z-index: 10;
 }

  

.last {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid gainsboro;
    display: inline-block;
  }

.rangeLabel{
    overflow: visible;
    font-size: 12px;
    margin-top: 40px;
}

.rangeLabelDraws{
    overflow: visible;
    font-size: 12px;
    margin-top: 30px;
}

.rangeDiv{
    width: 50%;
    display: inline-flex;
}

@media only screen and (max-width: 450px) {
    .col.left {
      display: block;
      width: 100%;
      img{
        width: 50px;
      }
    }
    .col.right{
      display: block;
      width: 100%;
      img{
        width: 50px;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    .drawnDiv {
      font-size: 1em;
    }
    .drawnPercDiv{
     font-size: 1em;
    }
    .groupTitle{
      font-size: 1.2em
    }
  }

  ion-button{
    --ion-color-primary: #42210B;
      --ion-color-primary-rgb: 66,33,11;
      --ion-color-primary-contrast: #ffffff;
      --ion-color-primary-contrast-rgb: 255,255,255;
      --ion-color-primary-shade: #3a1d0a;
      --ion-color-primary-tint: #553723;
      --ion-color-danger: #42210B;
      --ion-color-danger-rgb: 66,33,11;
      --ion-color-danger-contrast: #ffffff;
      --ion-color-danger-contrast-rgb: 255,255,255;
      --ion-color-danger-shade: #3a1d0a;
      --ion-color-danger-tint: #553723;
      --border-radius: 0.5em;
      width:100%;
  }