img{
    width: 40px;
    display: block;
    margin-bottom: 0;
}

.numberCoefficient{
    height: fit-content;
    width: 50%;
    display: inline-block;
}

ion-progress-bar{
    height: 10px;
    border-radius: 10px;
}