#header-img {
    display: block;
    background-image: url('../../assets/header-img.jpg');
    background-size: cover;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    position: absolute;
}

.content {
    z-index: 99;
    position: relative;
}

ion-col p {
    font-size: 1.2em;
    text-align: right;
    color: #42210B;
    margin: 1em;
}

ion-row #user-img {
    display: block;
    width: 205px;
    height: 206px;
    margin: 60px auto 0;
}

ion-label {
    font-size: 1.5em !important;
    text-align: center;
    color: #42210B !important;
    margin: 0 auto;
}

ion-row#tickets {
    margin: 5em auto;
}

ion-row#tickets img {
    width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#tickets ion-label {
    display: block;
    text-align: left;
    margin-top: 20px;
}

ion-button {
    --ion-color-danger: #42210B;
    --ion-color-danger-rgb: 66,33,11;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #3a1d0a;
    --ion-color-danger-tint: #553723;
    --border-radius: 0.5em;
    width: 170px;
    margin-top: 40px;
}

.ball {
    width: 40px;
    display: block;
    margin-bottom: 0; 
}

.numberCoefficient{
    height: fit-content;
    width: 50%;
    display: inline-block;
}

ion-progress-bar{
    height: 10px;
    border-radius: 10px;
}

@media only screen and (max-width: 991px) {
    #tickets ion-label {
        text-align: center;
    }
    ion-button {
        margin: 1em auto;
    }
}