<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!register">Login</ion-title>
    <ion-title *ngIf="register">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="login-logo">
      <img src="../../assets/logo.svg" alt="Lottery Master Logo">
  </div>
  <form *ngIf="!register" (ngSubmit)="authUser()">
    <ion-item lines="none">
      <ion-label>E-mail:</ion-label>
      <ion-input [(ngModel)]="loginForm.email" name="email" type="email"></ion-input>
    </ion-item>
    <ion-item  lines="none">
      <ion-label>Password:</ion-label>
      <ion-input [(ngModel)]="loginForm.password" name="password" type="password"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" color="primary">Login</ion-button>

    <p text-center><br>Don't have an account?</p>
    <ion-button expand="block" color="danger" (click)="register = true">Register</ion-button>
    <h3 *ngIf="error != null">{{error}}</h3>
  </form>

  <form *ngIf="register" (ngSubmit)="registerUser()">
    <ion-item lines="none">
      <ion-label>E-mail:</ion-label>
      <ion-input type="text" [(ngModel)]="registerForm.email" name="email"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Password:</ion-label>
      <ion-input [(ngModel)]="registerForm.password" name="password" type="password"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Repeat password:</ion-label>
      <ion-input [(ngModel)]="registerForm.repeatPassword" name="repeatPassword" type="password"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" color="primary">Register</ion-button>

    <p text-center><br>Already have an account?</p>
    <ion-button expand="block" color="danger" (click)="register = false">Login</ion-button>
    <h3 *ngIf="error != null">{{error}}</h3>
  </form>
</ion-content>