#login-logo img {
    display: block;
    width: 50%;
    margin: 1em auto;
}

form {
    margin: 5em auto;
}

@media only screen and (max-width: 500px) {
    form {
     margin: 5px auto;
     font-size: 0.8em;
    }
    ion-item{
        min-width: 90%;
    }
  }

ion-item {
    display: block;
    width: 50%;
    border-radius: 0.5em;
    box-shadow: 0 4px 2px -2px #42210B;
    -webkit-box-shadow: 0 4px 2px -2px #42210B;
    -moz-box-shadow: 0 4px 2px -2px #42210B;
    margin: 3em auto;
}

ion-input {
    font-size: 1.2em;
}

ion-label {
    font-size: 1.2em !important;
}

form ion-button {
    display: block;
    width: 25%;
    margin: 2em auto;
}

ion-button {
    --ion-color-primary: #42210B;
    --ion-color-primary-rgb: 66,33,11;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a1d0a;
    --ion-color-primary-tint: #553723;
    --ion-color-danger: #42210B;
    --ion-color-danger-rgb: 66,33,11;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #3a1d0a;
    --ion-color-danger-tint: #553723;
    --border-radius: 0.5em;
}