<ion-app>
  <ion-split-pane when="true">
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Lutrije</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-searchbar (ionInput)="onInput($event)"></ion-searchbar>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let lottery of lotteries">
            <ion-item routerLink="/home/{{lottery.id}}">
              <ion-label>
                {{lottery.name}}
                <span>{{lottery.draw}}/{{lottery.maxNumber}}</span>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>