<ion-app>
  <ion-split-pane when="true">
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <img src="../../assets/logo.svg" alt="Lottery Master Logo">
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-searchbar (ionInput)="onInput($event)"></ion-searchbar>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let lottery of lotteries">
            <ion-item routerLink="/home/{{lottery.id}}">
              <ion-label id="name">
                {{lottery.name}}
              </ion-label>
              <p style=" display: inline;
              font-size: 0.9em !important;
              color: #42210B !important;">{{lottery.draw}}</p><div id="vl"></div><p>{{lottery.maxNumber}}</p>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>