// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
span{
    font-weight: bold;
    float: right;
}

.alert-ios .alert-wrapper{
    max-width: unset !important;
    width: 100% !important;
}

.alert-md .alert-wrapper{
    max-width: unset !important;
    width: 90% !important;
}

.alert-wrapper{
    max-width: unset !important;
    width: 90% !important;
}