// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
span{
    font-weight: bold;
    float: right;
}

.alert-ios .alert-wrapper{
    max-width: unset !important;
    width: 100% !important;
    white-space: pre-wrap !important;
}

.alert-md .alert-wrapper{
    max-width: unset !important;
    width: 90% !important;
    white-space: pre-wrap !important;
}

.alert-wrapper{
    max-width: unset !important;
    width: 90% !important;
    white-space: pre-wrap !important;
}

[aria-checked=true].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md{
    white-space: pre-wrap;
}

.alert-radio-label.sc-ion-alert-md{
    white-space: pre-wrap;
    padding-top: 13px;
    padding-bottom: 13px;
    text-overflow: unset;
    -ms-flex: 1;
    flex: 1;
    color: var(--ion-color-step-850,#262626);
}

.alert-radio-label.sc-ion-alert-md {
    padding-left: 52px;
    padding-right: 26px;
    padding-top: 13px;
    padding-bottom: 13px;
    -ms-flex: 1;
    flex: 1;
    color: var(--ion-color-step-850,#262626);
    font-size: 0.8em;
    text-overflow: unset;
    white-space: pre-wrap;
    overflow: unset;
}

* {
    font-family: 'Montserrat', sans-serif;
}

#vl {
    padding-left: 5px;
    margin-left: 5px;
    border-left: 1px solid #42210B;
    height: 50%;
    display: inline;
  }

  #name{
      font-size: 1em !important;
      color: #42210B !important;
  }

  ion-range {
    --bar-background: #42210b4d;
    --bar-background-active: #42210b;
    --knob-background: #42210b;
    --pin-background: #42210b;
}