label{
    display:block;
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 12px;
  }
  
  .last {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid gainsboro;
    display: inline-block;
  }
  
  ion-grid{
    width: 100%;
    height: auto;
    overflow-x: scroll;
  }
  
  ion-row{
    width: max-content;
    height: fit-content;
    margin-bottom: 5px;
  
    .label{
      float: left;
    }
  }
    
  img{
    width: 40px;
    display: inline-block;
    margin: 0;
    }

.ballNum{
  position: relative;
  width:30px;
  bottom: 30px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  color: black;
  font-weight: bold;
}
  