ion-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

ion-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin: 3em auto; 
}

