.numStat{
    margin-right: 2px;
    padding: 0;
}

.drawn {
    border: 1px solid grey;
    border-radius: 20px;
    position: relative;
    top:5px;
    width:30px;
    margin: 0 auto;
    background-color: rgba(29, 131, 9, 0.7);
    font-size: 10px;
    text-align: center;
    color: white;
 }

 .notDrawn {
    border: 1px solid grey;
    border-radius: 20px;
    position: relative;
    width:30px;
    bottom: 5px;
    margin: 0 auto;
    background-color: rgba(141, 12, 12, 0.7);
    font-size: 10px;
    text-align: center;
    color: white;
 }

 img{
     width: 40px;
     display: block;
     margin-bottom: 0;
 }

 #drawNumber{
     overflow: visible;
     font-size: 12px;
     margin-top: 30px;
 }

 #refreshBtn{
     margin-top: 20px;
 }

 .groupTitle{
     width: 100%;
     margin-right: 7%;
     display: block;
 }

 #refreshBtn{
     margin-top: 5px;
 }