<ion-header>
  <ion-toolbar class="main">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{lotteryName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="numberStats != null">
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button size="small" color="danger" routerLink="/{{lotteryId}}/generator">
          <ion-icon name="flash"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  <ion-item>
    <ion-label id="drawNumber">Broj izvlačenja:</ion-label>
    <ion-range min="2" max="{{maxDraws}}" step="1" pin="true" [(ngModel)]="draws">
      <ion-label slot="start">2</ion-label>
      <ion-label slot="end">{{maxDraws}}</ion-label>
    </ion-range>
  </ion-item>
  <ion-button id="refreshBtn" expand="full" size="small" (click)="refreshStats()">
      Osvježi
    </ion-button>
  <ion-row flex-wrap="nowrap" align-items="stretch">
    <ion-item class="groupTitle">
      <ion-label>Statistika brojeva</ion-label>
    </ion-item>
  </ion-row>
  <ion-row flex-wrap="nowrap" align-items="stretch">
    <div class="numStat" *ngFor="let num of numberStats.stats">
      <div class="drawn">{{num.drawn}}</div>
      <img class="ball" src="../../assets/{{num.number}}.svg" />
      <div class="notDrawn">{{num.cyclesNotDrawn}}</div>
    </div>
  </ion-row>
  <ion-row *ngIf="numberStats.extraStats != null && numberStats.extraStats.length > 0">
    <ion-item class="groupTitle">
      <ion-label>Statistika dopunskih brojeva</ion-label>
    </ion-item>
    <div class="numStat" *ngFor="let en of numberStats.extraStats">
      <div class="drawn">{{en.drawn}}</div>
      <img class="ball" src="../../assets/{{en.number}}.svg" />
      <div class="notDrawn">{{en.cyclesNotDrawn}}</div>
    </div>
  </ion-row>
</ion-content>