
<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="draws">
      <ion-icon name="list"></ion-icon>
      <ion-label>Draws</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="number-statistics">
      <ion-icon name="disc"></ion-icon>
      <ion-label>Number stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="range-statistics">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Range stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="most-common">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Most common</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>